*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins'
}

a{
    text-decoration: none;
    color: black;
}

.brand{
    /* padding-left: 1px; */
    /* padding-right: 10px; */
    font-weight: 470;
    font-size: 23px;
    /* margin-right:50px; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    color: #cf363e;
}
.logo{
    margin-left:40px;
    padding: 10px;
}
.logo:hover{
    animation: rotation 1s 1 ease-in-out;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(1080deg);
    }
  }
.navbar{
    display:flex;
    /* border: 2px solid black; */
    /* height: 9vh; */
    position:fixed;
    width:100%;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #cf363e;
    background: rgba(255, 255, 255, 0.9);
    z-index:2;
}
.lens{
    color:black;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:300px;
    margin-right:300px;
    padding: 8px;
    /* border: 3px solid black; */
    width: 25vw;
    height: 2.7vh;
    background-color: rgb(230, 230, 230);
    font-size: 22px;
    color: rgb(73, 73, 73);
    border-radius: 4px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
#search{
    padding: 0px 0px 0px 10px;
    border: 0px solid;
    cursor:text;
    outline:none;
    width: 25vw;
    background-color:transparent;
}

.nav-link{
    display: flex;   
    padding-top: 12px;
}

.links{
    /* border: 2px solid black; */
    /* padding: 28px 15px 8px 15px; */
    margin: 0px 10px;
    padding: 2px;
    font-size: 13px;
    /* padding-top: 5px; */
    color: black;

}

.trial{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid black; */
    font-size: 18px;
    justify-content: space-between;
    margin: 4px 4px 0px 4px;
}
.trial:hover{
    position: relative;
    bottom: 2px;
    right: 2px;
}
.circle{
    font-size: 20px;
    color: royalblue;
    background-color:transparent;
}
.like{
    color: royalblue;
    font-size: 18px;
    background-color:transparent;
}

.cart{
    color: royalblue;
    font-size: 19px;
    background-color:transparent;
}

.icon{
    font-size: 35px;
    color: #cf363e;
}

.section1{
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 40px;
    padding-top: 150px;
}
.hero{
    height: 52vh;
}
.heading1{
    font-size: 42px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.btn{
    background-color: #cf363e;
    padding: 13px 40px;
    color: white;
    border: 0ch;

}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.underline{
    width:50%;
   background-color:#cf363e;
   height: 3px;
   border:0px;
   border-radius: 2px;
}
.section2{
    /* border: 3px solid rgb(255, 0, 0); */
}
.section3{
    margin-top: 30px;
}
.productrow1{
    display: flex;
    margin:30px  40px 0px 40px;
    padding: 20px;
    justify-content:space-around;
    /* border: 3px solid rgb(91, 21, 255); */
}
.productrow2{
    display: flex;
    justify-content:space-around;
    margin:0px 35px;
    /* border: 3px solid rgb(0, 255, 98); */
}
.productrow3{
    display: flex;
    justify-content:space-around;
    margin:40px  40px 0px 40px;
    padding: 20px;
}
.productBox
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 3px solid black; */
}
.image1
{
    width:inherit;
}
.imageContainer1
{
    height:40vh;
    width: 18vw;
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 3px solid #d400ff; */
    background-color:#EDEDED ;
    border-radius:3px;
    transition: 900ms ease;
}
.imageContainer1:hover,.imageContainer2:hover{
    position:relative;
    bottom:7px;
    right:7px;
    box-shadow: 7px 7px 10px #d8d8d8;
}
.image2
{
    width:inherit;
}
.imageContainer2
{
    height:25vh;
    width: 15vw;
    display:flex;
    justify-content: center;
    align-items:center;
    /* border: 3px solid #d400ff; */
    background-color:#EDEDED ;
    border-radius:3px;
    transition: 900ms ease;
}
.smartBand{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: linear-gradient(270deg ,#D0373F,#DF8090,#EDECEC);
    width: auto;
    height: 450px;
}
.bandDescription{
    display: flex;
    flex-direction: column;
    margin:50px;
    width:500px;
    height: 400px;
    /* border: 3px solid black; */
}
#des1{
    margin-top:35px;
    font-weight:500;
}
#des2{
    margin:20px 0px; 
    font-size: 48px;
    font-weight: bolder;
}
#des3{
    margin-bottom:25px;
}
.rating{
    border: 2px solid black;
    width:auto;
    height:500px;
    margin:30px 60px;
    display:flex;
    justify-content:space-around;
}
.ratingContainer{
    margin:3%;
    border: 2px solid black;
    width:30%;
    height:80%;
    display: flex;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.profileImage{
    height:50px;
border-radius: 50%;
}